<?xml version="1.0" encoding="UTF-8"?>
<plugin
    xmlns="http://apache.org/cordova/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="configPlistAndManifestOverWrite"
    version="4.5.5">

  <name>configPlistAndManifestOverWrite</name>

  <description>
     P-list And Manifest OverWrite
  </description>

  <author>Khaleel</author>

  <license>MIT</license>

  <keywords>P-list android-manifest</keywords>

  <repo>https://github.com/crownclown90/configPlistAndManifestOverWrite.git</repo>

  <issue>https://github.com/crownclown90/configPlistAndManifestOverWrite/issues</issue>

  <engines>
    <engine name="cordova" version=">=3.0.0"/>
  </engines>

  <!-- ios -->
  <platform name="ios">
    <!-- Usage description of the Calendar for iOS 6+, mandatory since iOS 10 -->
    <config-file target="*-Info.plist" parent="NSCalendarsUsageDescription">
      <string>"Calander is used by ad network providers"</string>
    </config-file>
    <config-file target="*-Info.plist" parent="NSBluetoothPeripheralUsageDescription">
      <string>"Calander is used by ad network providers"</string>
    </config-file>
  </platform>
 
 <!--  android -->
  <platform name="android">
  <!--    <config-file target="AndroidManifest.xml" parent="/manifest">
      <uses-permission android:name="android.permission.READ_CALENDAR"/>
      <uses-permission android:name="android.permission.WRITE_CALENDAR"/>
    </config-file> -->
  </platform>
</plugin>
